html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    position: relative;
}

header::after {
    content: "";
    background-image: url('background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Ensure the background image remains fixed */
    position: absolute;
    top: 0;
    left: 230px; 
    width: calc(100% - 230px); 
    height: 100%;
    z-index: 1;
}

.empty_box {
    height: 100%;
    width: 230px;
    background-color: rgba(255, 255, 255, 0.8); 
    z-index: 2; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px; 
    box-sizing: border-box;
    position: relative;
}

.logo {
    width: 100%;
    background: #ffffff;
}

.logo img {
    width: 100%;
    height: auto;
    background: transparent;
}

.menu {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

.menu li {
    margin: 10px 0; 
    padding: 10px;
    cursor: pointer;
    position: relative;
}

.menu li:hover {
    background-color: #ffffff;
    border-radius: 5px;
    opacity: 0.6;
}

.address {
    margin-top: auto; 
    padding: 20px;
    text-align: center;
}

.address p {
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 8px;
}

.address i {
    margin-right: 10px;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 230px);
    height: 100%;
    position: absolute;
    left: 230px;
    z-index: 2;
}

.content {
    text-align: left;
    padding: 20px;
    border-radius: 10px;
    color: #05855a; 
    font-size: 25px;
    font-style: italic;
}

h1 {
    font-size: 75px;
    color: #f2824b;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Your existing CSS styles here */

.order {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: rgb(12, 96, 206);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.order:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}


